<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="https://objective-edison-7e888c.netlify.com/></a> href="https://github.com/cw2981/splurty_app>. Craig White while attending the George Washington University coding bootcamp.
  </p>
  <br />
  <p>
    
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.

</div>

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Craig White</h2>
      <br />
      <p>
        Craig White recently started coding bootcamp at George Washington university, learning ruby, ruby on rails, javascript, algorithms, and html/css.</p> <a target="_blank" href="
      </p>
    </div>
  </div>

</div>

